<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!--twitter share-->
    <meta name="twitter:site" content="<% config.title %>" />
    <meta name="twitter:creator" content="@mao">
    <meta name="twitter:title" content="<% page.title %> | <%config.title%>" />
    <meta name="twitter:description" content="<% page.description %>" />
    <!--end share-->
    <!--Open Graph-->
    <meta property="og:site_name" content="<% config.title %>">
    <meta property="og:title" content="<% page.title %> | <% config.title %>" />
    <meta property="og:type" content="maodaisuki" />
    <meta property="og:locale" content="<%- config.language %>" />
    <meta property="og:description" content="<% page.description %>" />
    <!--end Open Graph-->
    <!--script-->
    <script type="text/javascript" src="/source/js/linkcard.js"></script>
    <!--end script-->
    <link rel="shortcut icon" href="<%= url_for(theme.favicon) %>" type="image/x-icon" />
    <!-- 评论样式文件
    <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v2/dist/waline.css"
    /> -->
    <title>
        <% if (page.title) { %>
            <%= page.title %> |
        <% } %> 
        <%= config.title %>
    </title>
    <%- css('css/style') %>
    <%- css('fontawesome/css/fontawesome.min') %>
    <%- css('fontawesome/css/brands.min') %>
    <%- css('fontawesome/css/solid.min') %>
    <%- partial('partial/scripts/analytics.ejs') %>
</head>
