<main>
    <div class="main-container">
        <div class="post-details">
            <% if (is_post()) { %>
            <div class="post-title">
                <h1><%= page.title %></h1>
            </div>
            <div class="post-meta">
                <i class="fa-solid fa-clock"></i>&nbsp;<span class="post-date"><%= date(page.date, 'YYYY/MM/DD') %></span>
            </div>
            <% } %>
            <div class="post-content">
                <%- page.content %>
            </div>
        </div>
    </div>
</main>
<!-- 评论脚本 -->
<!-- <div id="waline"></div>
<script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
    init({
      el: '#waline',
      serverURL: 'https://waline-1-u8739713.deta.app/',
      visitor: true,
      emoji: [   //这里加了一些表情
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq',
        'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
      ],
       avatar: 'robohash',   //自定义默认头像为随机的机器人
       placeholder: 'comment...',   //占位符
    });
  </script> -->
<% if (theme.utterances && theme.utterances.enable && page.comments) { %>
<script src="https://utteranc.es/client.js"
    repo="<%= theme.utterances.repo %>"
    issue-term="<%= theme.utterances.issueTerm %>"
    theme="<%= theme.utterances.theme %>"
    crossorigin="anonymous"
    async>
</script>
<% } %>
<script src="https://maodaisuki.github.io/blog/js/jquery.min.js"></script>
<script src="https://maodaisuki.github.io/blog/js/bootstrap.min.js"></script>
<script src="https://maodaisuki.github.io/blog/js/zoom.js"></script>
<%- partial('partial/scripts/math') %>
